/* ******************* *//* ******************* */
/* Site Style Guide */
/* ******************* *//* ******************* */

/* ******************* */
/* General Elements */
/* ******************* */



html {
  font-size: 16px;
  /*background-color: #fff;  */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body {  
  color: #282A2B;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;

}
h1, h2, h3, h4, h5, h6 {
  /*color: #282A2B;*/
  /*font-family: 'Rye', arial, sans-serif;*/
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.125;
  /*margin-bottom: 24px;*/
  /*font-variant: small-caps;*/
  /*margin-top: 0;*/
}

h1 { font-size: 60px; }
h2 { font-size: 42px;}
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }


p {
  font-weight: 400;
  line-height: 1.625;
}

p.text, p.none, p.desc, p.intro, p.final {
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.625;
}

p.intro {
  font-size: 18px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

strong, b {
  font-weight: 700;
}

a {
  color: #0157ac;
}
a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

p a.underline{
  border-bottom: 1px dotted currentColor;
  padding-bottom: 0.05em;
  transition: .2s ease-in-out;
}

p a:hover{
  opacity: .8;
}

ol, ul {
  margin-bottom: 24px;
}
hr {
  margin-top: 24px;
  margin-bottom: 24px;  
  border: 0;
  border-top: 1px solid #eee;
}
blockquote {
  max-width: 640px;
  width: 100%;
}

table {
}
table tr {}
table td {}



/* Forms Basic */

INPUT, SELECT, TEXTAREA {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #BEBEBE;
  border-radius: 3px;
  box-shadow: none;
  color: #2E2F33;
  /*[disabled]line-height:1;*/
  padding: 0.5em;
  width: 100%;
}
INPUT:focus, TEXTAREA:focus {
  border: 1px solid #999;
  outline: none;
}
INPUT[type="checkbox"], INPUT[type="image"], INPUT[type="radio"] {
  width: auto;
}
BUTTON, INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"], .button {
  cursor: pointer;
  width: auto;
}
BUTTON:hover, INPUT:hover[type="button"], INPUT:hover[type="reset"], INPUT:hover[type="submit"], .button:hover {
  color: #FFF;
}
INPUT[type="search"]::-webkit-search-cancel-button, INPUT[type="search"]::-webkit-search-results-button {
  display: none;

}


/* ******************* */
/* Buttons */
/* ******************* */

.btn {
  padding: 0.625em 1.25em;
  border-radius: 2px;
  border: 1px solid transparent;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
}
.btn * { /* This is super important for icons to adopt the correct colors */
  color: inherit;
}
.btn:hover i {
  color: inherit;
} 
.btn.btn-default {
  background-color: #e7e7e7;
  color: #555;
}



/* ******************* */
/* Navigation */
/* ******************* */


/* Main Navigation */

.navbar {
  margin-bottom: 0;   
}
.navbar-default {
  border: none;

}
.navbar-default .navbar-nav>li>a {
  /*color: #fff;*/
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 50px 20px;
  /*text-transform: uppercase;*/
  transition: all 0.125s ease-in-out;
  /*border-radius: 0px;*/
  /*border-bottom: 2px solid rgba(0,0,0,0.0);*/
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  /*color: #fff;  */
  /*border-bottom: 2px solid rgba(255,255,255,1);*/
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  /*color: #fff;  */
  background: transparent;
  /*border-bottom: 2px solid rgba(255,255,255,1);*/
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  /*background-color: #C3141D;*/
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a .caret {
  position: relative;
  top: -2px;
}
.navbar-header {
  /*padding: 0;*/
}
.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}


/* Navbar Dividers */

.navbar-default .navbar-nav>li>a:after { 
  content: '';
  display: none; /* change display to "inline-block" to enable */
  height: 1em;
  width: 1px;
  background-color: #d4d4d4;
  transform: rotate(30deg);
  position: relative;
  right: -1.25em;
  top: 3px;

}
.navbar-default .navbar-nav >li:last-child a:after {
  display: none;
}

/* Navbar Call-to-Action Buttons */

.navbar-default .navbar-nav > li.btn, .navbar-default .navbar-nav > li.btn:hover {
  padding: 12px 16px 12px;
  /*padding: .6em 1em .4em;*/
  margin-left: 24px;
  margin-top: 0;
  border: none;
  background-color: #f4953a;
  border: transparent;
  border-bottom: 0.25em solid #ef7b29;
  font-weight: 700;

}
.navbar-default .navbar-nav > li.btn:hover {
  background-color: #ef7b29;
}
.navbar-default .navbar-nav > li.btn > a, .navbar-default .navbar-nav > li.btn > a:hover {
  padding: 0;
  color: #fff;
  line-height: 1.125;
  border-bottom: none;
  background-color: transparent !important;

}


/* Navbar Dropdown Menu */

.navbar-nav .dropdown-menu {
  min-width: 240px;
  padding: 5px 10px;
  border: 1px solid rgba(150,150,150,0.125);
  font-family: 'Montserrat', arial, sans-serif;
  border-radius: 5px;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] {
  border-bottom: 1px solid rgba(100,100,100,0.125);
}
.navbar-nav .dropdown-menu [class*="menu-item-"]:last-child {
  border-bottom: none;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a {
  padding-top: 0.66em;
  padding-left: 0.5em;
  padding-bottom: 0.66em;
  color: #777;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a:hover {
  color: #709ac5;
  background-color: transparent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: #709ac5;
}

/* ******************* */
/* Site Main */
/* ******************* */


.site-main.wrapper {
padding-top: 72px;
padding-bottom: 72px;
background-color: #FFF;
}

/*body.home .site-main.wrapper {
  padding-top: 0;
  padding-bottom: 0;
}*/



/* ******************* */
/* Page Headers */
/* ******************* */

.standard-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}

.inside-header {
  background-color: #282A2B;
  padding-top: 320px; /* Compensates for .site-header { height: 0px; } */
  padding-bottom: 36px;
  text-align: center;
  position: relative;

}
.inside-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/cowboy-sunset.jpg");
  background-size: 100%;
  background-position: 50% 66%;
  opacity: 0.125;

}
.image-header h1, .inside-header h1 {
  color: #FFF;
  font-size: 60px;
  /*margin-bottom: 0;*/
}


/* Inner Page Custom Headers */

.custom-header {
  background-color: #616264;
  padding-top: 60px;
  padding-bottom: 60px;
}
.custom-background-header {
  position: relative;
}
.custom-header, .custom-background-header * {
  position: relative;
  color: #FFF;
}
.custom-header:before, .custom-background-header:before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #264e6c;
  opacity: 0.33;

}
.custom-header .lead {

}
.custom-header .lead a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted currentColor;
}
.custom-header .title {
  color: #fff;
}
.custom-header .lead a:hover {
  color: inherit;
}



/* ******************* */
/* Footer */
/* ******************* */

.site-footer {
  /*background-color: #111;*/
  font-size: 14px;
  position: relative !important;
}
.site-footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/pattern.jpg");
  background-size: 800px;
  background-position: center center;
  opacity: .25;
  background-repeat: repeat;
}
.site-footer * {
  /*color: rgba(250, 250, 250, 1);*/
}
.site-footer .container {
  max-width: 1280px;
}

/* Footer Upper */

.site-footer .footer-upper {
  padding-top: 56px;
  padding-bottom: 36px;
}
.site-footer img.logo {
  max-width: 260px;
  margin-bottom: 24px;
  width: 100%;
  top: 0px;
    position: relative;
}
.footer-upper .widget {
  margin-bottom: 42px;
}
.footer-upper .widget h3 {
  /*color: rgba(250, 250, 250, 1);*/
  font-size: 18px;
  font-weight: 500;
  /*text-transform: uppercase;*/
}
.footer-upper .widget a {
  /*color: rgba(250, 250, 250, 1);*/
  font-weight: 500;
}
.footer-upper .widget .menu {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget .menu [class*='menu-item']{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.footer-upper .widget .menu [class*='menu-item'] a {
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] a:hover {
  color: inherit;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] .dropdown-menu, .footer-upper .widget .menu [class*='menu-item'] .dropdown-toggle .caret {
  display: none; /* No dropdown menus in footer */

}
.footer-upper .widget[class*='recent-posts'] {

}
.footer-upper .widget[class*='recent-posts'] ul {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget[class*='recent-posts'] ul li {
  margin-bottom: 16px;
}

/* Footer Bottom */

.site-footer .footer-bottom {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 24px;
  background-color: transparent;
}
.site-footer .footer-bottom * {
  opacity: 0.75;
}
.site-footer .footer-bottom p {
  margin-bottom: 0;
}

/* Footer Contact Info */

.contact-info p {
  padding-left: 20px;
}
.contact-info i, .contact-info svg {
  margin-left: -22px;
  margin-right: 2px;
}



/* ******************* *//* ******************* */
/* Blog */
/* ******************* *//* ******************* */


/* Blog Index */

body.blog .standard-header {
  text-align: center;
}
body.blog .site-main.wrapper {

}
body.blog .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.blog .post {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.125);

}
body.blog .post .entry-title {
  margin-bottom: 16px;
}
body.blog .post .published, body.blog .post .author {
  color: #999;
  font-size: 14px;
}
body.blog .post .published {}
body.blog .post .author {
  margin-bottom: 16px;
}


/* Single Post */

body.single.post-template-default .site-main.wrapper {}
body.single.post-template-default .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.single .post .entry-title {
  margin-bottom: 16px;
  font-size: 48px;
}
body.single .post .published, body.single .post .author {
  color: #999;
  font-size: 14px;
}
body.single .post .published {}
body.single .post .published:before {
  content: 'Posted ';
}
body.single .post .author {
  margin-bottom: 36px;
}


/* Single Post Headers */

body.single .standard-header {
  padding-top: 36px;
  padding-bottom: 36px;
}
body.single .image-header h1, body.single .standard-header h1 {
  color: #FFF;
}
body.single .entry-content p {
  margin-bottom: 24px;
}

/* Single Post Headers */

.single-post #comments .alert-warning {
  display: none;
}

/* Featured Posts */

.featured-posts.section [class*="title-"] {
  margin-bottom: 48px;
}


/* ******************* *//* ******************* */
/* Widgets */
/* ******************* *//* ******************* */

.widget.widget_recent_entries {

}
.widget.widget_recent_entries .post-date {
  display: block;
  opacity: 0.75;
}




/* ******************* */
/* Site Sections */
/* ******************* */

/* Hero Sections */

.hero.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 480px;
  overflow: hidden;
  background-color: rgba(255,255,255,1);
  /*background-image: url("/wp-content/themes/roots/assets/img/trucks.jpg");*/
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
  /*text-shadow: 0px 0px 30px rgba(0,0,0,0.5);*/
}

.hero.section:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.125;
  z-index: 0;
}
.hero .text-block {

}
.hero .img-block {

}
.hero.section .title {
  font-size: 48px;
  line-height: 1;
}
.hero.section .subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: 24px;
}
.hero .text-block .desc {
  margin-bottom: 32px;
}
.hero.section .btn {
  margin-left: 3px;
  margin-right: 3px;
  text-shadow: none;
}
