body{
	background-color: white;
	padding-bottom: 0;
}


/* typography */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body{
	font-size: 17px;
	line-height: 1.6;
	color: #565656;
}

body *{
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.3;
}

h1{
	font-size: 3.125em;
}

h2{
	font-size: 2.3em;
}

h3{
	font-size: 1.9em
}

h4{
	font-size: 1.5em;
}

h5{
	font-size: 1.2em;
}

h6{
	font-size: 1em;
}

.lead{
	font-size: 1.4em;
}

.before-header{
	font-size: .9em;
}

.caps {
	text-transform: uppercase;
}

.thin{
	font-weight: 300;
}

.bold{
	font-weight: 700;
}

.color-bg{
	color: white;
}

/* colors */

.primary{
	color: #f4953a;
}

.primary-bg{
	background-color: #f4953a;
}

.secondary{
	color: #709ac5;
}

.secondary-bg{
	background-color: #709ac5;
}

.off-white-bg{
	background-color: #efefef;
}

.secondary-gradient{
	background: #225d9a;
	background: -moz-linear-gradient(-45deg, #225d9a 1%, #709ac5 100%);
	background: -webkit-linear-gradient(-45deg, #225d9a 1%,#709ac5 100%);
	background: linear-gradient(135deg, #225d9a 1%,#709ac5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#225d9a', endColorstr='#709ac5',GradientType=1 );
}

/* buttons & links */

a{
	color: #709ac5;
	transition: .2s ease-in-out;
}

a.no-color-link{
	color: #565656;
}

footer a{
	color: #565656;
}

footer a:hover{
	color: #709ac5 !important;
}

a:hover{
	color: #225d9a;
	text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: #f4953a;
}

.btn, .nav-button a{
	font-size: 1em;
	padding: .6em 1em .4em;
	font-weight: 700;
	transition: .2s ease-in-out;
}


.btn-primary, .nav-button a{
	color: white !important;
	background-color: #f4953a !important;
	border: transparent;
	border-bottom: 0.25em solid #ef7b29;
}


.btn-primary:hover, .nav-button a:hover{
	background-color: #ef7b29 !important;
	border-bottom: 0.25em solid #ef7b29;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{
	border-color:#ef7b29;
}

.btn-light{
	background-color: white;
	color: #709ac5;
	border: transparent;
	border-bottom: 0.25em solid #efefef;
}

.btn-light:hover{
	background-color: #efefef;
	color: #ef7b29;
}

/* layout helpers */

.extra-large-padding{
	padding-top: 100px;
	padding-bottom: 100px;
}

.large-padding{
	padding-top: 90px;
	padding-bottom: 90px;
}

.medium-padding{
	padding-top: 50px;
	padding-bottom: 50px;
}

.small-padding{
	padding-top: 20px;
	padding-bottom: 20px;
}

@media only screen and (min-width: 1024px){
	.vertical-center{
		display: flex;
    	align-items: center;
	}
}

@media only screen and (min-width: 768px){
	.extra-large-padding{
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.large-padding{
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.medium-padding{
		padding-top: 90px;
		padding-bottom: 90px;
	}

	.small-padding{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.narrow{
	max-width: 700px;
	margin: auto;
}

.small-margin-bottom{
	margin-bottom: 30px;
}

/* background images */

.call-worker-bg{
	background: url('/wp-content/themes/roots/assets/img/call-worker.jpg') 50% 25% / cover;
}

/* overlays */

.overlay, .overlay *{
	position: relative;
}

.overlay:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.secondary-overlay:before{
	background-color: rgba(37, 96, 156, .7);
}

/* flex areas */

ul.flex-logos li{
	list-style-type: none;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	margin-top: .5em;
	width: 130px;
	margin-top: 1em;
	align-self: center;
}

.flex-logos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.clickable-icons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	margin-top: 2em;
}

.clickable-icons i{
	margin-bottom: .2em;
}

.clickable-icons a{
	color: #a8a8a8;
}

.clickable-icons a:hover{
	color: #709ac5;
}

/*slider*/

.slide-container {
	max-width: 730px;
	margin: auto;
}

.slide-text-wrap {
	height: auto;
	min-height: 350px;    
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	position: relative; 
}

.timeline .slide-text-wrap{
	min-height: 400px;
	margin-top: -20px;
}

.slide-container .quote{
	font-size: 2.3em;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -.03em;
	text-align: center;
	margin-bottom: 1em;
}

.slide-container .quote-author .author-name{
	font-size: 1.4em;
	font-weight: 700;
}

.credits{
	margin: auto;
	text-align: center
}

.slide-text p.desc {
	font-size: 1.2em;
	line-height: 1.333;
	margin-bottom: 36px;
}

.slide-icons {
	bottom: 2em;
}

.slide-container * {
	color: #black;
}

.slide-section{
	position: relative;
}

.slide-icons{
	position: absolute;
	left: 50%;
	bottom: 1.5em;
	width: 100%;
	transform: translate(-50%,0%);
	text-align: center;
}

.open-circle:before{
	content: '\f111';
	font-size: .5em;
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
	transition: .2s ease-in-out;
	opacity: .3;
	padding: .2em;
}

.close-circle:before, .open-circle:hover:before{
	content: '\f111';
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
	transition: .2s ease-in-out;
	opacity: 1;
}

.slide-text{
	position: relative;
	animation: slide .5s; 
}

@keyframes slide{
	0%{
		right: -100px;
		opacity: 0;
	}
	100%{
		right: 0px;
		opacity: 1;
	}
}

.before-header{
	padding-top: .4em;
	padding-bottom: .4em;
}

.before-header p{
	margin-bottom: 0;
}

.before-header i{
	padding-left: .3em;
	padding-right: .3em;
}


.navbar-nav > li > a{
	padding: .6em 1em .4em;
	border-radius: 4px;
}

.navbar-default .navbar-nav > li > a{
	color: #565656;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #f4953a;
}

/* home page */

.home-hero{
	position: relative;
	overflow: hidden;
	/*Change the video height here*/
	height: 35vw;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-hero:before{
	content: '';
	/*change video overlay opacity or color here*/
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.home-hero .vid-container, .landing .hero.section .vid-container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.home-hero .vid-container video{
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100% !important;
	height: auto;
	min-height: 100%;
	object-fit: cover;
	z-index: -100;
}

.site-header{
	border-bottom: none;
	margin-bottom: 0;
}

/* headers */

.image-header{
	padding-top: 120px;
	padding-bottom: 120px;
	background-position: 50% 50%;
	background-size: cover;
}

.who-we-are .image-header{
	background-position: 50% 100%;
}

.standard-background-header{
	color: white;
	text-align: center;
	position: relative;
}

.standard-background-header *{
	position: relative;
}

.standard-background-header:before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(37, 96, 156, .7);
}

.standard-header{
	background-color: #f4953a;
	Color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

.standard-header h1{
	font-weight: 700;
	font-size: 2em;
}


/* footer */

.site-footer{
	position: static;
	background-color: #efefef;
}

.footer-upper{
	padding-top: 3.125em;
	padding-bottom: 3.125em;
}

.footer-bottom{
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer i{
	margin-right: .7em;
}

footer h3{
	color:#709ac5 !important;
}

.grid-padding > div{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}


.grid-padding > div{

	padding-bottom: 3em;
}

.grid-padding a.btn{
	margin-top: 1em;
}


/* support */

.service-blocks{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
}

.service-block{
	margin-bottom: 1em;
}

.service-block .service-button{
	display: inline-block;
	font-size: 3.5em;
	padding: .5em 1em;
	background-color: transparent;
	border-radius: .1em;
	margin-bottom: .2em;
}


.service-button:link, .service-button:visited{
	background-color: #709ac5;
	color: white;
}

.service-button:hover{
	background-color: #f4953a;
	color: white;
}

.panel-body{
	padding: 15px 30px;
}


input[value="Submit"]
{
	background-color: #f4953a !important;
	width: 100% !important;
	color: white;
	border: none;
	padding: 10px;
	transition: .2s ease-in-out;
}

input[value="Submit"]:hover
{
	background-color: #709ac5 !important;
}


.gform_wrapper h2.gsection_title{
	margin-bottom: 10px !important;
}

/* super menu */

.nav-panel{
	position: absolute;
	right: 0;
	-webkit-box-shadow: 7px 8px 48px -7px rgba(0,0,0,0.47);
-moz-box-shadow: 7px 8px 48px -7px rgba(0,0,0,0.47);
box-shadow: 7px 8px 48px -7px rgba(0,0,0,0.47);
	background-color: white;
	border-top: #f4953a 3px solid;
	font-size: .95em;
}

.nav-panel .container{
	padding: 0;
	margin: 0;
}

.nav-panel .grid-menu{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}

.nav-panel .grid-menu div{
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-panel ul.menu{
	padding: 0;
}

.nav-panel ul.menu li{
	list-style-type: none;
	margin-bottom: .2em;
	font-size: .9em;
}

.nav-panel ul.menu li a{
	color: #565656;
}

.nav-panel ul.menu li a:hover{
	color: #f4953a;
}

.nav-panel .grid-menu div:nth-child(n+2){
	border-left: solid rgba(0, 0, 0, .2) 1px;
}



