/* ******************* *//* ******************* */
/* Media Queries */
/* ******************* *//* ******************* */

@media only screen and (max-width:1360px) {
  .site-header .logo {
    max-width: 160px;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .site-footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1023px) {
  .text-block .text-block-inner{
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 768px) {

  .img-block .map {
    max-height: 360px;
    min-height: 360px;
  }

  .image-header h1, .standard-header h1 {
    font-size: 60px;
  }

  .hero {
    max-height: none;

  }
  .hero .text-block {
    max-height: none;
  }
  

}
@media only screen and (max-width: 767px) {

h1 { font-size: 42px; }
h2 { font-size: 32px;}
h3 { font-size: 24px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
  
  .section {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .before-header {
    font-size: 12px;
  }

  .site-header .logo__img {
    max-width: 150px;
  }
  .navbar-nav {
    display: block;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-nav > li.btn, .navbar-default .navbar-nav > li.btn:hover {
   margin: auto;
   width: 92%;
   margin-top: 5px;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: 2px solid rgba(255,255,255,0.25);
  }
  .site-main.wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .inside-header {
    padding-top: 120px;
    padding-bottom: 15px;
  }
  .inside-header:before {
    background-size: cover;
  }
  .inside-header h1 {
    font-size: 32px;
  }


  body.single .post .entry-title {
    font-size: 36px;
  }

  .iziModal {
    width: 90%;
    margin: auto;
    top: 45px !important;
    max-height: 85vh;
  }

  .home .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .home .hero.section {
    padding-top: 90px;
    padding-bottom: 32px;
  }
  .home .hero.section .title {
    font-size: 46px;
  }
  .hero.section .btn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fa-ul {
    column-count: 1;
  }

  .call-to-action.section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .call-to-action.section:before {
    background-position: 50% 100%;
  }
  .call-to-action.section h2 {
    font-size: 42px;
  }

}
@media only screen and (max-width: 480px) {

  .btn {
    width: 100%;
    max-width: 320px;
    margin-bottom: 5px;
  }

  /* Site Logo */

  .site-header .logo__img {
    max-width: 120px;
    margin-top: 0px;
  }


  /* Above Nav */

  .above-nav {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .above-nav .container .widget {
    margin-left: 8px;
  }
  .above-nav .container .widget #contact_info {
    display: none;
  }
  .above-nav .simple-social-icons ul li {
    margin: 0 3px !important;
  }

  /* Above Header */

  .above-header .connect {
    justify-content: space-between;
    float: none;
  }
  .above-header .connect li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .above-header .connect li:first-child {
    margin-right: auto;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] a, .above-header .connect .simple-social-icons ul li[class*="ssi-"] a:hover {
    font-size: 14px !important;
    padding: 0.4em;

  }

  /* Headers */

  .standard-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .image-header h1, .standard-header h1 {
    font-size: 24px;
  }

  /* Testimonials */

  .testimonials.section .container blockquote {
    width: 100%;
    width: calc(100% / 1);
    margin-bottom: 24px;
  }

  /* Home Page Sections */

  .slide-text {
    padding: 0px;
  }

  .pt-cv-wrapper .pt-cv-content-item {
    padding-bottom: 48px;
  }


}