/* ******************* *//* ******************* */
/* Plugin Overrides */
/* ******************* *//* ******************* */


/* ******************* */
/* Widgets on Pages */
/* ******************* */

.widgets_on_page ul {
  padding-left: 0px;
}
.widgets_on_page > ul, .widgets_on_page > ul li {
  margin-bottom: 0px;
}


/* ******************* */
/* Formidable */
/* ******************* */

.frm_style_formidable-style.with_frm_style select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
}
.frm_style_formidable-style.with_frm_style select + i.fa {
  color: #00abd6;
  font-size: 1.5em;
  float:right;
  pointer-events: none;
  position: relative;
  top: -39px;
  right: 12px;
}
.frm_style_formidable-style.with_frm_style .frm_submit button {
  border-bottom: 5px solid rgba(0,0,0,0.125) !important;
  -moz-border-radius: px !important;
  -webkit-border-radius: 8px !important;
  -khtml-border-radius: 8px !important;
  border-radius: 8px !important;
}


/* ******************* */
/* Gravity Forms */
/* ******************* */

.gform_wrapper {
  font-size: 1rem;
}
.gform_wrapper .gform_heading {
}

/*Progress Bar - Custom Styles*/

.gform_wrapper .gf_progressbar_wrapper {
  padding: 1em 2em 1.8em !important;
  background-color: #FDFDFD;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.125) !important;
}
.gform_wrapper .gf_progressbar_wrapper H3.gf_progressbar_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em !important;
  text-align: center;
  display: block;
}
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar {
  border: 0px solid #FFFFFF;
  /*+border-radius: 2.3em;*/
  -moz-border-radius: 2.3em;
  -webkit-border-radius: 2.3em;
  -khtml-border-radius: 2.3em;
  border-radius: 2.3em;
  background: #E0E0E0 url(repeat);
  /*+box-shadow: 0px 0px rgba(99, 99, 99, 0.25);*/
  -moz-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  -webkit-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  margin-top: 1em;
  height: auto;
}
/*[clearfix]*/
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar .gf_progressbar_percentage {
  height: 100%;
  background: #0072BC url(repeat);
}
.gform_wrapper .gf_progressbar_percentage SPAN {
  height: 100%;
  line-height: 1.5;
  font-weight: 900 !important;
  font-size: 1em;
  /*+text-shadow:none;*/
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.99);
  margin: 0.3rem 0.8rem 0.3rem 0.9rem !important;
}


/* Paged Forms */

.gform_wrapper .gform_body {
}
.gform_wrapper .gform_page {
}


/* Field Containers */

.gform_wrapper .gsection {
  padding: inherit !important;
}
.gform_wrapper .gform_fields {
}
.gform_wrapper .gform_fields .gfield {
}
.gform_wrapper .gform_fields .gfield.left, .gform_wrapper .gform_fields .gfield.right {
  clear: none;
}
.gform_wrapper .gform_fields .gfield_label {
  margin-bottom: 0.5rem;
}
.gform_wrapper .gform_fields .gfield_description {
}
.gform_wrapper .gform_fields .gfield INPUT, .gform_wrapper .gform_fields .gfield SELECT, .gform_wrapper .gform_fields .gfield TEXTAREA {
  padding: 0.5em;
}
.gform_wrapper .gform_fields .gfield INPUT {
}
.gform_wrapper .gform_fields .gfield SELECT {
}
.gform_wrapper .gform_fields .gfield TEXTAREA {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
  color: #2E2F33;
}
.gform_wrapper .gform_fields .gfield INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  color: #8A8A8A;
  font-weight: bold;
  padding: 0.4em;
  line-height: 1.5;
}
.gform_wrapper .gform_fields .ginput_container {
  margin-top: 0px !important;
}
.gform_wrapper .gform_fields .ginput_complex LABEL {
  /*[disabled]font-style:italic;*/
  /*+opacity: 80%;*/
  -filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-size: 0.8em;
  letter-spacing: 0;
}
.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
  width: 47.85% !important;
}
.gform_wrapper UL.gfield_checkbox, .gform_wrapper UL.gfield_radio {
}
.gform_wrapper UL.gfield_checkbox LI, .gform_wrapper UL.gfield_radio LI {
  overflow: visible !important;
}
.gform_wrapper UL.gfield_checkbox LI LABEL, .gform_wrapper UL.gfield_radio LI LABEL {
  font-weight: normal;
}
.gform_wrapper UL.gfield_checkbox LI INPUT[type=checkbox]:checked + LABEL, .gform_wrapper UL.gfield_radio LI INPUT[type=radio]:checked + LABEL {
  font-weight: 700;
}
.gfield_description + .ginput_container_checkbox, .gfield_description + .ginput_container_radio {
  padding-top: 0.5em;
}
.gform_wrapper .gform_footer INPUT.button, .gform_wrapper .gform_footer INPUT[type=submit] {
  color: #FFFFFF;
  font-family: inherit;
  width: auto;
  min-width: 25%;
  /*background-color: #C3141D;*/
  padding: 0.8em 2.5em;
  /*border-radius: 10px;*/
  /*border: none;*/
  transition: all 0.125s ease-in-out;

  color: white !important;
  background-color: #f4953a !important;
  border: transparent;
  border-bottom: 0.25em solid #ef7b29;
}

/*Controler Icons*/

.gform_wrapper TABLE.gfield_list TD.gfield_list_icons IMG {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0.6em;
  margin-left: 0px !important;
  margin-right: 0px;
}
.gform_wrapper .gform_fields .gfield INPUT.gform_button_select_files {
  cursor: pointer !important;
}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
  background-color: #FFFFFF;
}

/*Form Footer Controls*/

.gform_wrapper .gform_page_footer {
  background-color: #F9F9F9;
  padding: 1em !important;
  border: 1px solid rgba(83, 83, 83, 0.125) !important;
  /*+border-radius: 2px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.gform_wrapper .gform_page_footer INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #8A8A8A;
}
.gform_wrapper .gform_page_footer INPUT.gform_next_button {
}
.gform_wrapper .gform_page_footer .gform_save_link {
  background-color: #9C9C9C;
  padding: 0.6em 0.8em;
  color: #FFFFFF !important;
  /*+border-radius: 3px;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  /*+placement: shift 0px -2px;*/
  position: relative;
  left: 0px;
  top: -2px;
  text-decoration: none;
  font-size: 0.9em;
  /*+opacity: 85%;*/
  -filter: alpha(opacity=85);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
.gform_wrapper .gform_page_footer .gform_save_link:hover {
  /*+opacity: 100%;*/
  -filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}


/*Saved Form Message*/

.gform_wrapper .form_saved_message {
  background-color: #F9F9F9 !important;
  border: 7px solid rgba(97, 97, 97, 0.125) !important;
  font-size: 1.125em !important;
  line-height: 1.5 !important;
}
.gform_wrapper .form_saved_message INPUT[type="email"] {
  width: 100%;
  max-width: 540px;
  padding: 0.7em;
  text-align: center;
}
DIV.form_saved_message DIV.form_saved_message_emailform FORM INPUT[type=submit] {
  font-size: 1em;
  padding: 0.7em;
  text-transform: uppercase;
  color: #7B7B7B;
  font-weight: bold;
  max-width: 540px;
  width: 100%;
}

/*Mobile Layout Fixes*/

@media screen and (max-width: 991px) {
  .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_middle_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_third {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .gform_wrapper LI.gfield.gf_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_2col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_3col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_4col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_5col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_radio LI {
    width: 100% !important;
  }
}


/* ******************* */
/* Simple Social Icons */
/* ******************* */

.simple-social-icons UL, .simple-social-icons UL LI:first-child {
  margin-left: 0px !important;
  color: #1B75BB;
}
.simple-social-icons LI { 

}
.simple-social-icons LI A {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  padding: 0px;
  transition: all 0.33s ease-in-out;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  position: relative;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  font-size: 0.8rem !important;
}
.simple-social-icons LI A:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  -khtml-border-radius: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.simple-social-icons LI A:hover {
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* Simple Social Icons - Above Header */

.before-header .widget.simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] * {
  color: #333; !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] a, .before-header .widget.simple-social-icons ul li[class*="ssi-"] a:hover {
  padding: 0.33em;
  background-color: #fff !important;
}


/* Simple Social Icons - Footer */
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] * {
  color: #235d83 !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] a {
  padding: 0.33em;
  background-color: #fff !important;
}



/* ******************* */
/* Content Views - Posts */
/* ******************* */

.pt-cv-wrapper .btn {
  margin-top: 15px;
}
.pt-cv-view {

}
.pt-cv-view .pt-cv-href-thumbnail {

}
.pt-cv-view .pt-cv-href-thumbnail .pt-cv-thumbnail {
  object-position: center;
  object-fit: cover;
  height: 250px;
  margin-bottom: 24px !important;

}