/* ******************* *//* ******************* */
/* Site Style Guide */
/* ******************* *//* ******************* */


/* ******************* */
/* Import Site Font(s) */
/* ******************* */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rye');

/* ******************* */
/* General Elements */
/* ******************* */



html {
  font-size: 16px;
  background-color: #fff;  
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {  
  color: #282A2B;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;

}
h1, h2, h3, h4, h5, h6 {
  color: #282A2B;
  font-family: 'Rye', arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.125;
  margin-bottom: 24px;
  font-variant: small-caps;
  margin-top: 0;
}

h1 { font-size: 60px; }
h2 { font-size: 42px;}
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }


p {
  font-weight: 400;
  line-height: 1.625;
}

p.text, p.none, p.desc, p.intro, p.final {
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 1.625;
}

p.intro {
  font-size: 18px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

p.lead {
  font-size: 18px;
  opacity: 1;
}

strong, b {
  font-weight: 700;
}

a {
  color: #0157ac;
}
a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

p a.underline{
  border-bottom: 1px dotted currentColor;
  padding-bottom: 0.05em;
  transition: .2s ease-in-out;
}

p a:hover{
  opacity: .8;
}

ol, ul {
  margin-bottom: 24px;
}
hr {
  margin-top: 24px;
  margin-bottom: 24px;  
  border: 0;
  border-top: 1px solid #eee;
}
blockquote {
  max-width: 640px;
  width: 100%;
}

table {
}
table tr {}
table td {}


/* Forms Basic */

INPUT, SELECT, TEXTAREA {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #BEBEBE;
  border-radius: 3px;
  box-shadow: none;
  color: #2E2F33;
  /*[disabled]line-height:1;*/
  padding: 0.5em;
  width: 100%;
}
INPUT:focus, TEXTAREA:focus {
  border: 1px solid #999;
  outline: none;
}
INPUT[type="checkbox"], INPUT[type="image"], INPUT[type="radio"] {
  width: auto;
}
BUTTON, INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"], .button {
  cursor: pointer;
  width: auto;
}
BUTTON:hover, INPUT:hover[type="button"], INPUT:hover[type="reset"], INPUT:hover[type="submit"], .button:hover {
  color: #FFF;
}
INPUT[type="search"]::-webkit-search-cancel-button, INPUT[type="search"]::-webkit-search-results-button {
  display: none;
}



/* ******************* */
/* Background Colors */
/* ******************* */

[class*="bg-"]:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
}
[class*="bg-color"] * {
  color: #fff;
}
.bg-white, .bg-white:before {
  background-color: #fff; 
}
.bg-offwhite, .bg-offwhite:before {
  background-color: #f2f2f2;
}
.bg-offwhite2, .bg-offwhite2:before {
  background-color: #f7f7f7;
}
.bg-color-dark, .bg-color-dark:before {
  background-color: #282A2B;
}
.bg-color-primary, .bg-color-primary:before {
  background-color: #C3141D;
}
.bg-color-secondary, .bg-color-secondary:before {
  background-color: #e82601;  
}
.bg-color-tertiary, .bg-color-tertiary:before {
  background-color: #2e96c2;  
}
.bg-color-accent1, .bg-color-accent1:before {
  background-color: #f59e12;
}
.bg-color-accent2, .bg-color-accent2:before {
  background-color: #efe8c3;  
}
.bg-color-accent3, .bg-color-accent3:before {
  background-color: #678aa1;
}
.bg-abstract, .bg-color-primary, .bg-color-secondary, .bg-color-tertiary, .bg-offwhite {
  background-image: url("/wp-content/themes/roots/assets/img/abstract-rectangular.jpg");
  background-size: cover;
  background-position: center center;
}
.bg-color-primary-gradient, .bg-color-primary-gradient:before {
  background-color: #C3141D;
  background: rgb(29,125,177);
  background: linear-gradient(180deg, #C3141D 0%, #C3141D 100%);
}

/* Background Image Classes */

.bg-img-camping-family.section:before {
  background-image: url("/wp-content/themes/roots/assets/img/family-with-dog-camper.jpg");
  background-size: cover;
  background-position: 50% 40%;
  opacity: 0.33;
}
.bg-img-wood-pattern:before {
  background-image: url("/wp-content/themes/roots/assets/img/wood-panel-pattern.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 50%;
  opacity: 0.125;
}

/* ******************* */
/* Buttons */
/* ******************* */

.btn {
  padding: 0.625em 1.25em;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
}
.btn * { /* This is super important for icons to adopt the correct colors */
  color: inherit;
}
.btn:hover i {
  color: inherit;
} 
.btn.btn-default {
  background-color: #e7e7e7;
  color: #555;
}
.btn.btn-primary {
  background-color: #C3141D;
  color: #fff;
}
.btn.btn-primary:hover {
  border: 1px solid transparent;
}
.btn.btn-secondary {
  background-color: #e82601;
  color: #fff;
}
.btn.btn-tertiary {
  background-color: #2e96c2;
  color: #fff;
}
.btn.btn-accent {
  background-color: #f59e12;
  color: #fff;
}
.btn.btn-light {
  background-color: #fff;
  color: #333;
}
.btn.btn-dark {
  background-color: #282A2B;
  color: #fff;
}
.btn.btn-ghost {
  border: 2px solid #C3141D;
  color: #C3141D;
  background-color: rgba(255, 255, 255, 1);
}
.btn.btn-ghost:hover {
  background-color: #C3141D;
  color: #fff;
}
.btn.btn-ghost-light {
  border: 2px solid #fff;
  color: #fff;
}
.btn.btn-ghost-light:hover {
  color: currentColor;
  background-color: rgba(255,255,255,0.25);
}
.btn.btn-ghost-dark {
  border: 2px solid #282A2B;
  color: #282A2B;
}
.btn.btn-ghost-dark:hover {
  background-color: #282A2B;
  color: #fff;
}
.btn.btn-primary-gradient {
  background-color: #C3141D;
  background: rgb(29,125,177);
  background: linear-gradient(180deg, #C3141D, #C3141D);
  color: #fff;
}
.btn .fa {
  font-size: 1.25em;
  position: relative;
  top: 2px;
  margin-left: 0.33em;
  margin-right: 0.33em;
  color: inherit;
}


/* ******************* */
/* Typography */
/* ******************* */


.highlight {
  color: #C3141D !important;
}
.highlight-primary {
  color: #C3141D !important;
}
.highlight-secondary {
  color: #e82601 !important;
}
.highlight-tertiary {
  color: #2e96c2 !important;
}
.highlight-accent1 {
  color: #f59e12 !important;
}
.highlight-accent2 {
  color: #efe8c3 !important;
}
.highlight-accent3 {
  color: #678aa1 !important;
}


/* Titles */

.title, [class*="title-"] {
  display: block;
  letter-spacing: -0.025em;
}
.title:after, [class*="title-"]:after, .title:before, [class*="title-"]:before {
  content: '';
  display: inline-block;
}
.text-center .title:after, .title.text-center:after, [class*="title-"].text-center:after, .text-center [class*="title-"]:after {
  margin-left: auto;
  margin-right: auto;
}
.title-primary {
  color: #C3141D;
}
.title-primary:after {
  border-color: #C3141D;
}
.color-bg .title:after {
  border-color: rgba(250,250,250,0.75);
}

.subtitle {
  font-size: 24px;
}
.title + .subtitle {
  margin-top: -24px;
  margin-bottom: 36px;

}

.title.decor, [class*="title-"].decor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title.decor:before, [class*="title-"].decor:before, .title.decor:after, [class*="title-"].decor:after {
  content: '';
  display: inline-block;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  width: auto;
  height: 8px;
  flex-grow: 1;
  margin: auto;
}
.title.decor:before, [class*="title-"].decor:before {
  margin-right: 15px;
}
.title.decor:after, [class*="title-"].decor:after {
  margin-left: 15px;
}



/* ******************* */
/* Icons */
/* ******************* */

.icon {
  color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background-color: #999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.icon i.fa {
  font-size: 60px;
  position: relative;
}
.icon:hover i.fa {
  color: #fff;
}
.icon.small-icon {
  height: 90px;
  width: 90px;
  border-radius: 90px;
}
.icon.small-icon i.fa {
  font-size: 42px;
}
.icon.large-icon {
  height: 220px;
  width: 220px;
  border-radius: 220px;
}
.icon.large-icon i.fa {
  font-size: 120px;
}
.icon .fa.fa-pie-chart, .icon .fa.fa-bar-chart, .icon .fa.fa-cubes {
  right: -3%;
}
.icon .fa.fa-cubes {
  top: -1%;
}
.icon .fa.fa-balance-scale {
  right: -2%;
}
.icon .fa.fa-sitemap {
  top: -0.07em;
  right: -1%;
}
.icon .fa.fa-play {
  top: -0.033em;
  right: -5%;
}



/* ******************* *//* ******************* */
/* Site Constants - Headers, Navbar, Site Main, Footer, etc. */
/* ******************* *//* ******************* 


/* ******************* */
/* Site Header */
/* ******************* */

.site-header {
  background-color: transparent;
  height: 0px; /* "auto" = normal height, "0px" = header-overlay */
}
.site-header .container {
  max-width: 1600px;
}
.site-header .header__wrap {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Site Logo */

.site-header .logo {
  margin-top: 0px;
  text-align: center;
}
.site-header .logo__img {
  width: auto;
  max-width: 250px;
  max-height: 130px;
}


/* Above Nav / Before Header*/

.before-header {
  display: block;
  background-color: transparent;
  padding-top: 35px;
  padding-bottom: 15px;
  margin: 0px;
  font-size: 14px;
  position: relative;
  color: #fff;
}
.above-nav * {
  color: #fff;
}
.above-nav:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/abstract-rectangular.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.125;
}
.above-nav .container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.above-nav .container .widget {
  float: left;
  margin-left: 15px;
}
.above-nav p a {
  border-bottom: none;
}



/* ******************* */
/* Navigation */
/* ******************* */


/* Main Navigation */

.navbar {
  margin-bottom: 0;   
}

.navbar-default {
  border: none;

}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  margin: 0px 10px;  
  text-transform: uppercase;
  transition: all 0.125s ease-in-out;
  border-radius: 0px;
  border-bottom: 2px solid rgba(0,0,0,0.0);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;  
  border-bottom: 2px solid rgba(255,255,255,1);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;  
  background: transparent;
  border-bottom: 2px solid rgba(255,255,255,1);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #C3141D;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a .caret {
  position: relative;
  top: -2px;
}

.navbar-header {
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}


/* Navbar Dividers */

.navbar-default .navbar-nav>li>a:after { 
  content: '';
  display: none; /* change display to "inline-block" to enable */
  height: 1em;
  width: 1px;
  background-color: #d4d4d4;
  transform: rotate(30deg);
  position: relative;
  right: -1.25em;
  top: 3px;

}
.navbar-default .navbar-nav >li:last-child a:after {
  display: none;
}

/* Navbar Call-to-Action Buttons */

.navbar-default .navbar-nav > li.btn, .navbar-default .navbar-nav > li.btn:hover {
  padding: 12px 16px 12px;
  margin-left: 24px;
  margin-top: 0;
  border: none;
  background-color: #C3141D;

}
.navbar-default .navbar-nav > li.btn > a, .navbar-default .navbar-nav > li.btn > a:hover {
  padding: 0;
  color: #fff;
  line-height: 1.125;
  border-bottom: none;

}


/* Navbar Dropdown Menu */

.navbar-nav .dropdown-menu {
  min-width: 240px;
  padding: 5px 10px;
  border: 1px solid rgba(150,150,150,0.125);
  font-family: 'Montserrat', arial, sans-serif;
  border-radius: 5px;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] {
  border-bottom: 1px solid rgba(100,100,100,0.125);
}
.navbar-nav .dropdown-menu [class*="menu-item-"]:last-child {
  border-bottom: none;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a {
  padding-top: 0.66em;
  padding-left: 0.5em;
  padding-bottom: 0.66em;
  color: #777;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a:hover {
  color: #0157ac;
  background-color: transparent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: #0157ac;
}

/* Mobile Nav */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(250,250,250,0.25);
    /*background-color: #282A2B;*/
    margin-top: 10px;
}


/* ******************* */
/* Page Headers */
/* ******************* */

.inside-header {
  background-color: #282A2B;
  padding-top: 320px; /* Compensates for .site-header { height: 0px; } */
  padding-bottom: 36px;
  text-align: center;
  position: relative;

}
.inside-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/cowboy-sunset.jpg");
  background-size: 100%;
  background-position: 50% 66%;
  opacity: 0.125;

}
.image-header h1, .inside-header h1 {
  color: #FFF;
  font-size: 60px;
  /*margin-bottom: 0;*/
}


/* Inner Page Custom Headers */

.custom-header {
  background-color: #616264;
  padding-top: 60px;
  padding-bottom: 60px;
}
.custom-background-header {
  position: relative;
}
.custom-header, .custom-background-header * {
  position: relative;
  color: #FFF;
}
.custom-header:before, .custom-background-header:before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #264e6c;
  opacity: 0.33;

}
.custom-header .lead {

}
.custom-header .lead a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted currentColor;
}
.custom-header .title {
  color: #fff;
}
.custom-header .lead a:hover {
  color: inherit;
}



/* ******************* */
/* Site Main */
/* ******************* */


.site-main.wrapper {
padding-top: 72px;
padding-bottom: 72px;
background-color: #FFF;
}

/*body.home .site-main.wrapper {
  padding-top: 0;
  padding-bottom: 0;
}*/



/* ******************* */
/* Footer */
/* ******************* */

.site-footer {
  background-color: #111;
  font-size: 14px;
  position: relative;
}
.site-footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/pattern.jpg");
  background-size: 800px;
  background-position: center center;
  opacity: .25;
  background-repeat: repeat;
}
.site-footer * {
  color: rgba(250, 250, 250, 1);
}
.site-footer .container {
  max-width: 1024px;
}

/* Footer Upper */

.site-footer .footer-upper {
  padding-top: 56px;
  padding-bottom: 36px;
}
.site-footer img.logo {
  max-width: 260px;
  margin-bottom: 24px;
  width: 100%;
  top: 0px;
    position: relative;
}
.footer-upper .widget {
  margin-bottom: 42px;
}
.footer-upper .widget h3 {
  color: rgba(250, 250, 250, 1);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-upper .widget a {
  color: rgba(250, 250, 250, 1);
  font-weight: 500;
}
.footer-upper .widget .menu {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget .menu [class*='menu-item']{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.footer-upper .widget .menu [class*='menu-item'] a {
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] a:hover {
  color: inherit;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] .dropdown-menu, .footer-upper .widget .menu [class*='menu-item'] .dropdown-toggle .caret {
  display: none; /* No dropdown menus in footer */

}
.footer-upper .widget[class*='recent-posts'] {

}
.footer-upper .widget[class*='recent-posts'] ul {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget[class*='recent-posts'] ul li {
  margin-bottom: 16px;
}

/* Footer Bottom */

.site-footer .footer-bottom {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 24px;
  background-color: transparent;
}
.site-footer .footer-bottom * {
  opacity: 0.75;
}
.site-footer .footer-bottom p {
  margin-bottom: 0;
}

/* Footer Contact Info */

.contact-info p {
  padding-left: 20px;
}
.contact-info i, .contact-info svg {
  margin-left: -22px;
  margin-right: 2px;
}


/* ******************* *//* ******************* */
/* Blog */
/* ******************* *//* ******************* */


/* Blog Index */

body.blog .standard-header {
  text-align: center;
}
body.blog .site-main.wrapper {

}
body.blog .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.blog .post {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.125);

}
body.blog .post .entry-title {
  margin-bottom: 16px;
}
body.blog .post .published, body.blog .post .author {
  color: #999;
  font-size: 14px;
}
body.blog .post .published {}
body.blog .post .author {
  margin-bottom: 16px;
}


/* Single Post */

body.single.post-template-default .site-main.wrapper {}
body.single.post-template-default .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.single .post .entry-title {
  margin-bottom: 16px;
  font-size: 48px;
}
body.single .post .published, body.single .post .author {
  color: #999;
  font-size: 14px;
}
body.single .post .published {}
body.single .post .published:before {
  content: 'Posted ';
}
body.single .post .author {
  margin-bottom: 36px;
}


/* Single Post Headers */

body.single .standard-header {
  background-color: #003466;
  padding-top: 36px;
  padding-bottom: 36px;
  display: none;

}
body.single .standard-header .container {
  width: 100%;
  max-width: 960px;
}
body.single .image-header h1, body.single .standard-header h1 {
  color: #FFF;

}
body.single .entry-content p {
  margin-bottom: 24px;
}



/* Single Post Headers */

.single-post #comments .alert-warning {
  display: none;
}


/* Featured Posts */

.featured-posts.section [class*="title-"] {
  margin-bottom: 48px;
}


/* ******************* *//* ******************* */
/* Widgets */
/* ******************* *//* ******************* */

.widget.widget_recent_entries {

}
.widget.widget_recent_entries .post-date {
  display: block;
  opacity: 0.75;
}


/* ******************* */
/* Site Sections */
/* ******************* */

/* Hero Sections */

.hero.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 480px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
  /*background-image: url("/wp-content/themes/roots/assets/img/trucks.jpg");*/
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

.hero.section:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}
.hero .text-block {

}
.hero .img-block {

}
.hero.section .title {
  font-size: 96px;
  line-height: 1;
}
.hero.section .subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: 24px;
}
.hero .text-block .desc {
  margin-bottom: 32px;
}
.hero.section .btn {
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: none;
}



/* Sliders */

.slide-text{
  position: relative;
  animation: slide .5s; 
  padding: 42px;
  border-radius: 5px;
  /* box-shadow: 0 6px 36px rgba(0,0,0,.125); */
}
@keyframes slide{
  0%{
    right: -100px;
    opacity: 0;
  }
  100%{
    right: 0px;
    opacity: 1;
  }
}



/* Home Slider */

.home .homeSlider .section {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 540px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
  background-color: #224159;
}
.homeSlider .section * {
  text-shadow: 0 0px 36px rgba(0,0,0,0.25)
}
.homeSlider .section:before {
  background-color: rgba(0,0,0,0.25);
}

.homeSlider .title {
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 24px;
}
.homeSlider .title:after {
  margin-top: 16px;
}
.homeSlider .sup-title {
  font-size: 40%;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 10px;

}
.homeSlider .lead {
  margin-bottom: 32px;
  font-size: 18px;
}
.homeSlider .btn {
  font-size: 16px;
}


/* Call to Action Sections */

.call-to-action.section {
  padding-top: 140px;
  padding-bottom: 140px;
}
.call-to-action.section:before {
  background-image: url("/wp-content/themes/roots/assets/img/camper-road-desert.jpg");
  background-size: cover;
  background-position: 50% 66%;
  opacity: 0.5;
}
.call-to-action .row {
  display: flex;
}
.call-to-action.section h2 {
  font-size: 60px;
  margin-bottom: 16px;
}



/* ******************* */
/* Pages */
/* ******************* */


/* Home Page */

.home .hero.section {
  padding-top: 150px;
  padding-bottom: 125px;
  /*min-height: 680px;*/


}
.home .hero.section .title {
  margin-bottom: 24px;
}
.home .hero.section .desc {
  margin-bottom: 48px;
}
.home .hero.section .btn {
  font-size: 16px;
}


/* ******************* */
/* Contact Page */
/* ******************* */


/* ******************* */
/* Testimonials Page */
/* ******************* */

.testimonials.section {}
.testimonials.section .testimonials-single {
  margin-bottom: 24px;
  padding: 15px;
}
.testimonials.section .testimonials-single .quote {
  font-style: italic;
}
.testimonials.section .testimonials-single .author {
  font-weight: 500;
  color: #C3141D;
}

/* ******************* */
/* Amenities Page */
/* ******************* */

.amenities.section {}
.amenities.section .img-block-container { /* For creating image grids */
justify-content: flex-start;
align-items: flex-start;
}
.amenities.section .img-block-container img {
width: 33.333%;
width: calc(100% / 2 - 10px) !important;
max-width: 360px;
margin: 5px;
}


/* ******************* */
/* Park Rules Page */
/* ******************* */

.park-rules.section {}
.park-rules.section ol li {
  border-bottom: 1px solid rgba(0,0,0,0.125);
  padding-bottom: 10px;
  margin-bottom: 25px;
}




/* ******************* *//* ******************* */
/* Plugin Overrides */
/* ******************* *//* ******************* */


/* ******************* */
/* Widgets on Pages */
/* ******************* */

.widgets_on_page ul {
  padding-left: 0px;
}
.widgets_on_page > ul, .widgets_on_page > ul li {
  margin-bottom: 0px;
}


/* ******************* */
/* Formidable */
/* ******************* */

.frm_style_formidable-style.with_frm_style select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
}
.frm_style_formidable-style.with_frm_style select + i.fa {
  color: #00abd6;
  font-size: 1.5em;
  float:right;
  pointer-events: none;
  position: relative;
  top: -39px;
  right: 12px;
}
.frm_style_formidable-style.with_frm_style .frm_submit button {
  border-bottom: 5px solid rgba(0,0,0,0.125) !important;
  -moz-border-radius: px !important;
  -webkit-border-radius: 8px !important;
  -khtml-border-radius: 8px !important;
  border-radius: 8px !important;
}




/* ******************* */
/* Gravity Forms */
/* ******************* */

.gform_wrapper {
  font-size: 1rem;
}
.gform_wrapper .gform_heading {
}

/*Progress Bar - Custom Styles*/

.gform_wrapper .gf_progressbar_wrapper {
  padding: 1em 2em 1.8em !important;
  background-color: #FDFDFD;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.125) !important;
}
.gform_wrapper .gf_progressbar_wrapper H3.gf_progressbar_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em !important;
  text-align: center;
  display: block;
}
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar {
  border: 0px solid #FFFFFF;
  /*+border-radius: 2.3em;*/
  -moz-border-radius: 2.3em;
  -webkit-border-radius: 2.3em;
  -khtml-border-radius: 2.3em;
  border-radius: 2.3em;
  background: #E0E0E0 url(repeat);
  /*+box-shadow: 0px 0px rgba(99, 99, 99, 0.25);*/
  -moz-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  -webkit-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  margin-top: 1em;
  height: auto;
}
/*[clearfix]*/
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar .gf_progressbar_percentage {
  height: 100%;
  background: #0072BC url(repeat);
}
.gform_wrapper .gf_progressbar_percentage SPAN {
  height: 100%;
  line-height: 1.5;
  font-weight: 900 !important;
  font-size: 1em;
  /*+text-shadow:none;*/
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.99);
  margin: 0.3rem 0.8rem 0.3rem 0.9rem !important;
}


/* Paged Forms */

.gform_wrapper .gform_body {
}
.gform_wrapper .gform_page {
}


/* Field Containers */

.gform_wrapper .gsection {
  padding: inherit !important;
}
.gform_wrapper .gform_fields {
}
.gform_wrapper .gform_fields .gfield {
}
.gform_wrapper .gform_fields .gfield.left, .gform_wrapper .gform_fields .gfield.right {
  clear: none;
}
.gform_wrapper .gform_fields .gfield_label {
  margin-bottom: 0.5rem;
}
.gform_wrapper .gform_fields .gfield_description {
}
.gform_wrapper .gform_fields .gfield INPUT, .gform_wrapper .gform_fields .gfield SELECT, .gform_wrapper .gform_fields .gfield TEXTAREA {
  padding: 0.5em;
}
.gform_wrapper .gform_fields .gfield INPUT {
}
.gform_wrapper .gform_fields .gfield SELECT {
}
.gform_wrapper .gform_fields .gfield TEXTAREA {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
  color: #2E2F33;
}
.gform_wrapper .gform_fields .gfield INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  color: #8A8A8A;
  font-weight: bold;
  padding: 0.4em;
  line-height: 1.5;
}
.gform_wrapper .gform_fields .ginput_container {
  margin-top: 0px !important;
}
.gform_wrapper .gform_fields .ginput_complex LABEL {
  /*[disabled]font-style:italic;*/
  /*+opacity: 80%;*/
  -filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-size: 0.8em;
  letter-spacing: 0;
}
.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
  width: 47.85% !important;
}
.gform_wrapper UL.gfield_checkbox, .gform_wrapper UL.gfield_radio {
}
.gform_wrapper UL.gfield_checkbox LI, .gform_wrapper UL.gfield_radio LI {
  overflow: visible !important;
}
.gform_wrapper UL.gfield_checkbox LI LABEL, .gform_wrapper UL.gfield_radio LI LABEL {
  font-weight: normal;
}
.gform_wrapper UL.gfield_checkbox LI INPUT[type=checkbox]:checked + LABEL, .gform_wrapper UL.gfield_radio LI INPUT[type=radio]:checked + LABEL {
  font-weight: 700;
}
.gfield_description + .ginput_container_checkbox, .gfield_description + .ginput_container_radio {
  padding-top: 0.5em;
}
.gform_wrapper .gform_footer INPUT.button, .gform_wrapper .gform_footer INPUT[type=submit] {
  color: #FFFFFF;
  font-family: inherit;
  width: auto;
  min-width: 25%;
  background-color: #C3141D;

  padding: 0.8em 2.5em;
  border-radius: 10px;
  border: none;
  transition: all 0.125s ease-in-out;
}

/*Controler Icons*/

.gform_wrapper TABLE.gfield_list TD.gfield_list_icons IMG {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0.6em;
  margin-left: 0px !important;
  margin-right: 0px;
}
.gform_wrapper .gform_fields .gfield INPUT.gform_button_select_files {
  cursor: pointer !important;
}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
  background-color: #FFFFFF;
}

/*Form Footer Controls*/

.gform_wrapper .gform_page_footer {
  background-color: #F9F9F9;
  padding: 1em !important;
  border: 1px solid rgba(83, 83, 83, 0.125) !important;
  /*+border-radius: 2px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.gform_wrapper .gform_page_footer INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #8A8A8A;
}
.gform_wrapper .gform_page_footer INPUT.gform_next_button {
}
.gform_wrapper .gform_page_footer .gform_save_link {
  background-color: #9C9C9C;
  padding: 0.6em 0.8em;
  color: #FFFFFF !important;
  /*+border-radius: 3px;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  /*+placement: shift 0px -2px;*/
  position: relative;
  left: 0px;
  top: -2px;
  text-decoration: none;
  font-size: 0.9em;
  /*+opacity: 85%;*/
  -filter: alpha(opacity=85);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
.gform_wrapper .gform_page_footer .gform_save_link:hover {
  /*+opacity: 100%;*/
  -filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}


/*Saved Form Message*/

.gform_wrapper .form_saved_message {
  background-color: #F9F9F9 !important;
  border: 7px solid rgba(97, 97, 97, 0.125) !important;
  font-size: 1.125em !important;
  line-height: 1.5 !important;
}
.gform_wrapper .form_saved_message INPUT[type="email"] {
  width: 100%;
  max-width: 540px;
  padding: 0.7em;
  text-align: center;
}
DIV.form_saved_message DIV.form_saved_message_emailform FORM INPUT[type=submit] {
  font-size: 1em;
  padding: 0.7em;
  text-transform: uppercase;
  color: #7B7B7B;
  font-weight: bold;
  max-width: 540px;
  width: 100%;
}

/*Mobile Layout Fixes*/

@media screen and (max-width: 991px) {
  .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_middle_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_third {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .gform_wrapper LI.gfield.gf_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_2col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_3col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_4col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_5col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_radio LI {
    width: 100% !important;
  }
}


/* ******************* */
/* Simple Social Icons */
/* ******************* */

.simple-social-icons UL, .simple-social-icons UL LI:first-child {
  margin-left: 0px !important;
  color: #1B75BB;
}
.simple-social-icons LI { 

}
.simple-social-icons LI A {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  padding: 0px;
  transition: all 0.33s ease-in-out;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  position: relative;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  font-size: 0.8rem !important;
}
.simple-social-icons LI A:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  -khtml-border-radius: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.simple-social-icons LI A:hover {
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* Simple Social Icons - Above Header */

.before-header .widget.simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] * {
  color: #333; !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] a, .before-header .widget.simple-social-icons ul li[class*="ssi-"] a:hover {
  padding: 0.33em;
  background-color: #fff !important;
}


/* Simple Social Icons - Footer */
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] * {
  color: #235d83 !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] a {
  padding: 0.33em;
  background-color: #fff !important;
}



/* ******************* */
/* Content Views - Posts */
/* ******************* */

.pt-cv-wrapper .btn {
  margin-top: 15px;
}
.pt-cv-view {

}
.pt-cv-view .pt-cv-href-thumbnail {

}
.pt-cv-view .pt-cv-href-thumbnail .pt-cv-thumbnail {
  object-position: center;
  object-fit: cover;
  height: 250px;
  margin-bottom: 24px !important;

}

/* ******************* *//* ******************* */
/* Media Queries */
/* ******************* *//* ******************* */

@media only screen and (max-width:1360px) {
  .site-header .logo {
    max-width: 160px;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .site-footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1023px) {
  .text-block .text-block-inner{
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 768px) {

  .img-block .map {
    max-height: 360px;
    min-height: 360px;
  }

  .image-header h1, .standard-header h1 {
    font-size: 60px;
  }

  .hero {
    max-height: none;

  }
  .hero .text-block {
    max-height: none;
  }
  

}
@media only screen and (max-width: 767px) {

  h1 { font-size: 42px; }
h2 { font-size: 32px;}
h3 { font-size: 24px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
  
  .section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .site-header .logo__img {
    max-width: 150px;
  }
  .navbar-nav {
    display: block;
    background-color: rgba(0,0,0,0.9);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .navbar-nav > li.btn, .navbar-default .navbar-nav > li.btn:hover {
   margin: auto;
   width: 92%;
   margin-top: 5px;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: 2px solid rgba(255,255,255,0.25);
  }
  .site-main.wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .inside-header {
    padding-top: 120px;
    padding-bottom: 15px;
  }
  .inside-header:before {
    background-size: cover;
  }
  .inside-header h1 {
    font-size: 32px;
  }


  body.single .post .entry-title {
    font-size: 36px;
  }

  .iziModal {
    width: 90%;
    margin: auto;
    top: 45px !important;
    max-height: 85vh;
  }

  .home .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .home .hero.section {
    padding-top: 90px;
    padding-bottom: 32px;
  }
  .home .hero.section .title {
    font-size: 46px;
  }
  .hero.section .btn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fa-ul {
    column-count: 1;
  }

  .call-to-action.section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .call-to-action.section:before {
    background-position: 50% 100%;
  }
  .call-to-action.section h2 {
    font-size: 42px;
  }

}
@media only screen and (max-width: 480px) {

  .btn {
    width: 100%;
    max-width: 320px;
    margin-bottom: 5px;
  }

  /* Site Logo */

  .site-header .logo__img {
    max-width: 120px;
    margin-top: 0px;
  }


  /* Above Nav */

  .above-nav {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .above-nav .container .widget {
    margin-left: 8px;
  }
  .above-nav .container .widget #contact_info {
    display: none;
  }
  .above-nav .simple-social-icons ul li {
    margin: 0 3px !important;
  }

  /* Above Header */

  .above-header .connect {
    justify-content: space-between;
    float: none;
  }
  .above-header .connect li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .above-header .connect li:first-child {
    margin-right: auto;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] a, .above-header .connect .simple-social-icons ul li[class*="ssi-"] a:hover {
    font-size: 14px !important;
    padding: 0.4em;

  }

  /* Headers */

  .standard-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .image-header h1, .standard-header h1 {
    font-size: 24px;
  }

  /* Testimonials */

  .testimonials.section .container blockquote {
    width: 100%;
    width: calc(100% / 1);
    margin-bottom: 24px;
  }

  /* Home Page Sections */

  .slide-text {
    padding: 0px;
  }

  .pt-cv-wrapper .pt-cv-content-item {
    padding-bottom: 48px;
  }


}


