/* ******************* *//* ******************* */
/* Utility Classes and Styles */
/* ******************* *//* ******************* */

/* ******************* */
/* Basic Utility */
/* ******************* */

.d-block {
  display: block;
}
ul.inline {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
ul.inline > li {
  display: inline-block;
}
.no-margins {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.vert-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}
.boxshadow {
  box-shadow: 0 6px 36px -3px rgba(0,0,0,0.33);
}



/* ******************* */
/* Typography */
/* ******************* */

sup {
  top:-0.25em;
}
.sup-title, .sub-title {
  display: block;
  font-size: 50%;
}
.heavy, span.heavy {
  font-weight: 700 !important;
}
.caps {
  text-transform: uppercase;
}
.small {
  font-size: 75%;
}
.large {
  font-size: 125%;
}
.extra-large {
  font-size: 150%;
}
.wt-100 {
  font-weight: 100;
}
.wt-200 {
  font-weight: 200;
}
.wt-300 {
  font-weight: 300;
}
.wt-400 {
  font-weight: 400;
}
.wt-500 {
  font-weight: 500;
}
.wt-600 {
  font-weight: 600;
}
.wt-700 {
  font-weight: 700;
}
.wt-800 {
  font-weight: 800;
}
.wt-900 {
  font-weight: 900;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  color: inherit;
}


/* Page Header - Modifiers */

body.no-header .standard-header {
  display: none;
}
body.center-page-header .standard-header {
  text-align: center;
}


/* Site Main - Modifiers */

body.site-main-no-padding .site-main.wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
}


/* ******************* */
/* Containers & Sections */
/* ******************* */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative;
}
.section * {
  position: relative;
}
.section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.0);
}
.container {
  position: relative;
  width: 100%;
  /*max-width: 1360px;*/
  max-width: 1170px;
}
.container.tight {
  max-width: 480px;
}
.container.narrow {
  max-width: 800px;
}
.container.wide {
  max-width: 1360px;
}
.container.full {
  max-width: 1920px;
}


/* Video Sections and Containers */

.video-container {
  position: relative;
  left: 0px;
  top: 0px;
  height: 0;
  padding-bottom: 56.25%;
}
.video-container iframe, .video-container video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;

}
.section.bg-video {
  position: relative;
  background-color: rgba(0,0,0,0.9);
  min-height: 540px;
  opacity: 1;
  overflow: hidden;

}
.section.bg-video * {
  position: relative;
  z-index: 2;
}
.section.bg-video .video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.5;
}
.section.bg-video .video-container iframe, .section.bg-video .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.container-link, .container-link a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  font-size: 0px;
  color: transparent;
  transition: all 0.125s ease-in-out;
}
.container-link:hover {
  background-color: rgba(255,255,255,0.33)
}


/* panels */

.panel-default>.panel-heading {
  background-color: #0157ac;
  color: #fff;
  padding: 0px;
}
.panel-default>.panel-heading .panel-title {}
.panel-default>.panel-heading .panel-title a {
  display: block;
  padding: 18px;
}
.panel-default>.panel-heading .panel-title a:after {
  content: '\f13a';
  font-family: "fontawesome";
  float:right;
  font-size: 1.25em;
  top: -3px;
  position: relative;
  opacity: 0.5;
  transition: all 0.125s ease-in-out;
}
.panel .panel-body {
  padding: 36px;
}
.panel-group {}
.panel-group .panel {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
}
.panel-group .panel-default {
  border: none;
}

/* ******************* */
/* Blocks */
/* ******************* */

/* Text and Image Blocks */

.block.section > .container {
display: flex;
flex-flow: row wrap;
padding: 0px;
}

@supports (display: grid){
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "img-block text-container";
}
}

.grid-container.image-text {
grid-template-areas: "img-block text-container";
}
.grid-container.text-image {
grid-template-areas: "text-container img-block";
}


/* Text Block */

.text-block {
grid-area: text-container;
color: inherit;
padding: 2em;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: flex-start;
width: 100%;
}
.text-block .text-block-inner { 
padding: 32px 0px 32px;
width: 100%;
max-width: 540px; 
margin: auto; 
float: left;
}

.grid-container.text-image .text-block {
}

/* Image Block */

.img-block {
grid-area: img-block;
background-color: rgba(0,0,0,0.0);
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
}
.img-block img, .img-block iframe {
object-fit: cover;
object-position: center;
height: 100%;
width: 100%;
}
.img-block .map {
  min-height: 580px;
}


.img-block-container { /* For creating image grids */
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}
.img-block-container img {
width: 33.333%;
width: calc(100% / 3 - 10px);
max-width: 250px;
margin: 5px;
}


/* Logo Block */

.logo-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}
.logo-block img {
  max-width: 250px;
  margin: 1.5em;
}



/* ******************* *//* ******************* */
/* Block Grids ("barrowed" from Foundation!) */
/* ******************* *//* ******************* */

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
  content: " ";
  display: table; }
[class*="block-grid-"]:after {
  clear: both; }
[class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
@media only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }





/* Scroll Top */

.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px; 
}
.scroll-icon {
  position:absolute;
  right:20px;
  bottom:20px;
  color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  background-color: #0157ac;
  opacity: 0.85;
  border-radius: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;        
}
.scroll-icon:hover {
  opacity: 0.25;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;        
}
.scroll-icon i {
  margin-bottom: 10px;
  top: -2px;
  position: relative;
  font-weight: 700;
}
.scroll-icon p {
  font-size: 13px;
  line-height: .600;
  margin: 0 0 0px;
  line-height: 1;
  top: -10px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .grid-container, .grid-container.text-image, .grid-container.image-text {
    grid-template-areas: 
      "img-block img-block"
      "text-container text-container";

  }   
  .grid-container .text-block, .grid-container.text-image .text-block, .grid-container.image-text .text-block {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .grid-container .text-block .text-block-inner, .grid-container.text-image .text-block .text-block-inner, .grid-container.image-text .text-block .text-block-inner {
    padding: 0px;
    margin: auto;
  }
  }